@media screen and (max-width: 960px){ 



    /*Le css de la partie hébergement à Marseille*/
    #hebergement{ 
        display: grid;
        height: auto;
        width: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 1fr;
        grid-row-gap: 30px;
        }
    .divh{ 
        border-radius: 20px;
        width: 100%;
    }
    .conth{ 
        height: 80%;
        border-radius: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 1.5rem;
        grid-column-gap: 1.5rem;
    }
    .arti-h{ 
        border-radius: 20px;
    }
    .img-1-h{ 
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        object-fit: cover;
        margin: 0px;
     }
/*fin du css des articles hebergements*/


/*Le css de la partie les plus populaires*/
    .contp{ 
        height:auto;
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 1rem;
    }
    .divp{ 
        border-radius: 20px;
        grid-row-start: 1;
        width: 100%;
    }
    .arti-p{ 
    border-radius: 20px;
    width: 100%;
    background-color: white;
}

.div-image-7,.div-image-8,.div-image-9{ 
     border-top-left-radius: 20px;
     border-bottom-left-radius: 20px;
     height: 100%;
     width: 30%;
     float: left;
 }
 .img-2-h{ 
    height: 95%;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    object-fit: cover;
}
 .texte-7,.texte-8,.texte-9{ 
   float:right;
   height: 100%;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   width: 70%;
   background-color: white;
}
.space{ 
    min-height: 20px;
    display: none;
}
/*La fin du css des articles les plus populaires*/




/*Le css de la partie activivtés a marseille*/

#Activites{ 
    height: auto;
}
.tit-acti{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    position: relative;
    top: 0px;
}
.contA{ 
    display: grid;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.5rem;
} 
.arti-1{ 
    grid-row:auto;
}
.arti-2{ 
    grid-row:auto;
}
.arti-3{ 
    grid-column-start: auto;
    grid-row:auto;
}
.arti-4{ 
    grid-row:auto;
    grid-column-start:auto;
}
.arti-5{ 
    grid-row:auto;
}
.arti-6{ 
    grid-row:auto;
 grid-column-start:auto;
 grid-row-start: auto;
}
.arti-1,.arti-2,.arti-3,.arti-4,.arti-5,.arti-6{ 
     border-radius: 20px;
     margin: 0px;
     border: 0.5px solid gray;
 }
.diva-img-1,.diva-img-4{ 
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      height: 130px;
  }
  .diva-img-2,.diva-img-6{ 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 130px;
  }
  .diva-img-3,.diva-img-5{ 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 130px;
  }
.img-1,.img-2,.img-3,.img-4,.img-5,.img-6{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}
/*La fin du css de la partie activivtés a marseille*/




/*LE FOOTER*/

footer{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 15px;
}
.d1,.d2,.d3{ 
width: auto;
}
}