@media screen and (max-width: 1200px){ 


    
/*Le css de la partie hébergement à Marseille*/
    #hebergement{ 
       /* border: 2px solid red;*/
        display: grid;
        height: auto;
        width: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1.2fr 3fr;
        grid-row-gap: 30px;
        justify-content: center;
        }
        .divh{ 
          /*  border:2px solid green;*/
            border-radius: 20px;
            width: 100%;
            justify-content: center;
        }
        .conth{ 
           /*border: 2px solid green;*/
            display: grid;
            padding: 0px;
            padding: 0px 20px;
            margin-bottom: 40px;
        }
        .arti-h{ 
           /* border: 1px solid red;*/
            border-radius: 20px;
        }
        .img-1-h{ 
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            object-fit: cover;
            margin: 0px;
         }
         .lien-plus{ 
            /* border: 1px solid red;*/
            font-family: 'Raleway', sans-serif;
            color:black;
            font-weight: 900;
            margin-left: 10px;
            position: relative;
            bottom: 20px;
        }
        /*fin du css des articles hebergements*/





        /*Le css de la partie les plus populaires*/
        .divp{ 
           /* border:2px solid blue;*/
            border-radius: 20px;
            grid-row-start: 1;
            width:auto;
        }
        .contp{ 
           /* border: 2px solid green;*/
            height: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            grid-column-gap: 0.5rem;
            margin: 0px;
        }    
        .arti-p{ 
            /*border: 1px solid red;*/
            border-radius: 20px;
            width: 28vw;
        }
        .p-7,.p-8,.p-9{ 
            margin-top: 10px;
        }
        .sp-7,.sp-8,.sp-9{ 
            margin-bottom: 10px;
            height: 50px;
        }
        .space{ 
            display: none;
        }
/*La fin du css des articles les plus populaires*/





/*Le css de la partie Activités*/
#Activites{ 
  /*  border: 2px solid purple;*/
    height: auto;
    margin-bottom: 90px;
}
.contA{ 
    display: grid;
    height: 90%;
   /* border: 2px solid orange;*/
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 1.5rem;
    column-gap: 1.5rem;
} 
.arti-1{ 
    grid-row:auto;
}
.arti-2{ 
    grid-row:auto;
}
.arti-3{ 
    grid-column-start: auto;
    grid-row:auto;
}
.arti-4{ 
    grid-row:auto;
    grid-column-start:auto;
}
.arti-5{ 
    grid-row:auto;
}
.arti-6{ 
    grid-row:auto;
 grid-column-start:auto;
 grid-row-start: auto;
}
.arti-1,.arti-2,.arti-3,.arti-4,.arti-5,.arti-6{ 
    /* border: 1px solid red;*/
     border-radius: 20px;
     margin: 0px;
     border: 0.5px solid gray;
   /*  box-shadow: 5px 5px 5px 5px #F3F3F3;*/
 }
.diva-img-1,.diva-img-4{ 
     /* border: 1px solid blue;*/
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      height: 130px;
  }
  .diva-img-2,.diva-img-6{ 
  /*border: 1px solid green;*/
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 130px;
  }
  .diva-img-3,.diva-img-5{ 
 /* border: 1px solid orange;*/
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 130px;
  }
.img-1,.img-2,.img-3,.img-4,.img-5,.img-6{ 
    height: 100%;
    width: 100%;
    object-fit: cover;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}
/*fin du css dela partie activités*/
}