body{ 
    margin: 0px;
}

/*Le header du site web */
header{ 

     display: grid;
     align-items: center;
     grid-template-areas: "logo nav inscrit";
     grid-template-columns: auto 1fr auto;
 }
 .img-logo{ 

     grid-area: logo;
     height: 100%;
     margin-left: 10px;
 }
 .nav-1{ 
    /* border:2px solid blue;*/
     grid-area: nav;
     display: flex;
     justify-content: flex-end;
     height: 100%;
 }
 #sp-a{ 
     padding:2rem;
     text-decoration: none;
     color:black;
     font-family: 'Raleway', sans-serif;
     font-weight: bolder;
 }
 #sp-h{ 
     padding:2rem;
     text-decoration: none;
     color:black;
     font-family: 'Raleway', sans-serif;
     font-weight: bolder;
 }
 #sp-a:hover{ 
     padding:2rem;
     text-decoration: none;
     font-family: 'Raleway', sans-serif;
     font-weight: bolder;
     color: #0065FC;
     border-top: 1px solid #0065FC;
 }
 #sp-h:hover{ 
     padding:2rem;
     text-decoration: none;
     font-family: 'Raleway', sans-serif;
     font-weight: bolder;
     color: #0065FC;
     border-top: 1px solid #0065FC;
 }
 #sp-i{ 
     grid-area: inscrit;
     padding: 2rem;
     text-decoration: none;
     color: #0065FC;
     font-family: 'Raleway', sans-serif;
     font-weight: bolder;
 }
 #sp-i:hover{ 
     grid-area: inscrit;
     padding: 2rem;
     text-decoration: none;
     color: #0065FC;
     border-top: 1px solid #0065FC;
     font-family: 'Raleway', sans-serif;
     font-weight: bolder;
 }




.trouver-son-voyage{ 
   /*  border: 2px solid red;*/
    /* margin-left: 10px;
     margin-right: 15px;*/
     padding-left: 15px;
 }
 .p1{ 
   font-family: 'Raleway', sans-serif;
   font-weight: bolder;
}

.p2{ 
   font-family: 'Raleway', sans-serif;
   margin-top: -8px;
}
.B-recherche{ 
   padding-left: 15px;
   padding-top: 10px;
   /* border: 2px solid red;*/
   /* margin-left: 10px;
    margin-right: 10px;*/
}

.p1{ 
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

.p2{ 
    font-family: 'Raleway', sans-serif;
    margin-top: -8px;
}
::placeholder{ 
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    color: black;
}
input[type="text"]{ 
   height: 20px;
   padding: 10px;
   margin-right: 0px;
   width: 200px;
   border: 1px solid #E3E5EE;
}
.icone{ 
    display: inline;
    float: left;
    height: 43px;
    width: 45px;
    background-color:  #E3E5EE;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 0px;
}

.icone-1{ 
    height: 20px;
    width: 20px;
    display: block;
   margin-left: 13px;
   margin-top: 10px;
}
.button-1{ 
    background-color: #0065FC;
    margin-left: -5px;
    height: 43px;
    width: 120px;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    border: 0px;
}
.button-2{ 
   background-color: #0065FC;
   margin-left: -5px;
   height: 43px;
   width: 120px;
   border-top-right-radius: 13px;
   border-bottom-right-radius: 13px;
   color: white;
   font-family: 'Raleway', sans-serif;
   font-weight: bolder;
   border: 0px;
   display: none;
}
.Filtres{ 
   /* border: 2px solid blueviolet;  */
    height: auto;
    padding-left: 10px;
 /*   margin-left: 10px;
    margin-right: 10px;*/
}
.media{ 
   /* border: 2px solid green;*/
    height: auto;
    padding-top: 25px;
}

span{ 
    /*float: left;*/
   /* border: 2px solid yellow;*/
    margin-right: 20px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;
}
.div1{ 
    /*border: 2px solid red;*/
    display: inline-block;
    height: 50px;
    width: 150px;
   /* margin-right: 10px;
    margin-top: 19px;*/
}
.p-1:hover{ 
    background-color:  #1253E1;
    color: white;
}
.fa-money-bill-wave-alt,.fa-child,.fa-heart,.fa-dog,.fa-info{ 
    /*border: 3px solid yellow;*/
    border-radius: 100px;
    height: 20px;
    width: 18px;
    position: relative;
    padding: 8px;
    z-index: 100;
    background-color: #B9E0EA;
    color: #1253E1;
    top: -1px;
}
.p-1{ 
    display: inline-block;
    border: 1px solid gray; 
    border-radius: 100px;
    width: 100px;
    height: 27px;
    padding-left: 40px;
    margin-left: -30px;
    z-index: 1;
    padding-top: 8px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}
.div-2{ 
 /*border: 2px solid red;*/
 margin-top: 10px;
 height: 100px;
 display: flex;

}
#icone-info{ 
    margin-top: 15px;
    background-color: white;
    border: 1px solid gray;
    font-weight: bolder;
    color: #1253E1;
    height: 4px;
    width: 4px;
    padding: 12px;
}
#p-info{ 
 /*   border: 1px solid gray; */
    display: inline-block;
    margin-left: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}
                                                                    /* La partie hebergement à marseille */

#hebergement{ 
 /*  border: 2px solid red;*/
   height: 820px;
   padding-left: 10px;
  /* margin-left: 10px;
   margin-right: 10px;*/
   display: flex;
   justify-content: space-between;
}
h2{ 
   font-family: 'Raleway', sans-serif;

}
.wrapp-1{ 
/* border: 2px solid green;*/
 width: 65%;
 height: 90%;
 display: inline-block;
 border-radius: 20px;
 background-color: #F4F4F4;
}
.h2-wrappe1{ 
 margin-left: 10px;
}
.arti-1,.arti-2,.arti-3,.arti-4,.arti-5,.arti-6{ 
  /* border: 2px solid red;*/
   border-radius: 20px;
   width: 30%;
   height: 35%;
   display: inline-block;
   margin: 10px;
   margin-left: 12px;
   margin-top: 30px;
   box-shadow: 1px 1px 1px 1px #BFC9CA;
   background-color: white;
}
#icone-pop{ 
   color: black;
   float: right;
   margin-right: 30px;
}
.arti-7,.arti-8,.arti-9{ 
/*   border: 2px solid blue;*/
   border-radius: 20px;
   height: 20%;
   width: 90%;
   margin-left: 19px;
   margin-right: 10px;
   margin-top: 50px;
   background-color: white;
   box-shadow: 1px 1px 1px 1px #BFC9CA;
}

.div-image-1{ 
 /*     border: 2px solid yellow; */
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      height: 60%;
      margin: 3px; 
  }
  .img-1-h{ 
     height: 100%;
     width: 100%;
     float: left;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     object-fit: cover;
     margin: 0px;
  }
  .img-2-h{ 
      height: 144px;
      width: 170px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      object-fit: cover;
  }
  .div-image-2,.div-image-3,.div-image-4,.div-image-5,.div-image-6{ 
      /*border: 2px solid yellow; */
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      height: 60%;
      margin: 3px; 
   }
  .div-image-7,.div-image-8,.div-image-9{ 
   /*   border: 2px solid blue; */
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      height: 100%;
      width: 40%;
      float: left;
      padding: 2px;
  }
  .texte-1,.texte-2,.texte-3,.texte-4,.texte-5,.texte-6{ 
     /*border: 2px solid green;*/
     height: 30%;

  }
  .texte-7,.texte-8,.texte-9{ 
    /* border: 2px solid purple; */
     float:right;
     height: 100%;
     border-top-right-radius: 20px;
     border-bottom-right-radius: 20px;
     width: 57%;
     background-color: white;
   
  }
  .descri-1,.descri-2,.descri-3,.descri-4,.descri-5,.descri-6{ 
 /* border: 1px solid red;*/
  height: 50px;
  padding-left: 8px;

  
  }
  
  .p-1-h,.p-2-h,.p-3-h,.p-4-h,.p-5-h,.p-6-h{ 
   /*   border: 1px solid red; */
      float: left;
      margin-top: 5px;
      margin-bottom: 7px;
      margin-left: 10px;
      font-family: 'Raleway', sans-serif;
      font-weight: bolder;
  }
  .p-7,.p-8,.p-9{ 
      margin-left: 20px;
    /*  border: 1px solid red; */
      font-family: 'Raleway', sans-serif;
      font-weight: bolder;
      margin-bottom: 5px;
  }
  .sp-7,.sp-8,.sp-9{ 
      margin-left: 20px;
   /*   border: 1px solid red; */
      font-family: 'Raleway', sans-serif;
      margin-top: 0px;
      margin-bottom: 30px;
  }
  .span-1,.span-2,.span-3,.span-4,.span-5,.span-6{ 
      margin-top: 5px;
      display: block;
      float: left;
      font-family: 'Raleway', sans-serif;
      font-weight: lighter;
      font-size: 15px;
  }
  
  
  .star-1,.star-2,.star-3,.star-4,.star-5,.star-6{ 
   /*   border: 2px solid blue;*/
      height: 20px;
      clear: both;
      padding-left: 15px;
      float: left;
  }
  .star-7,.star-8,.star-9{ 
    /*  border: 1px solid red; */
      margin-left: 20px;
      margin-bottom: 0px;
  }
  .fas{ 
     /* border: 2px solid green;*/
      color: #0065FC;
  }

#grey-1{ 
      color:  #c6cfd0;
  }
#grey-2{ 
    color:   #c6cfd0;
}
#grey-3{ 
    color:  #c6cfd0;
}
#grey-4{ 
    color:   #c6cfd0;
}
#grey-5{ 
    color:   #c6cfd0;
}
#grey-6{ 
    color:  #c6cfd0;
}
#grey-7{ 
    color:  #c6cfd0;
}

                                                                    /* La sous partie les plus populaires*/


.wrapp-2{ 
  /* border: 2px solid green;*/
   border-radius: 20px;
   width: 30%;
   height: 90%;
   display: inline-block;
   background-color: #F4F4F4;
}

.arti-7,.arti-8,.arti-9{ 
  /* border: 2px solid blue;
   border-radius: 20px;**/
   height: 20%;
   width: 90%;
   margin-left: 19px;
   margin-right: 10px;
   margin-top: 50px;
}
.h2-wrappe2{ 
margin-left: 10px;
}
h3{ 
   margin-left: 10px;
   font-family: 'Raleway', sans-serif;
}





                                                                      /* La partie activité a marseille*/
#activités{ 
    /*  border: 2px solid blue;*/
      height: 650px;
      padding-left: 10px;
     /* margin-left: 10px;
      margin-right: 15px;*/
}
.h2-acti{ 
   margin-left: 10px;
}
.wrapper-3{ 
/*  border: 2px solid blue;*/
  display: flex;
  height: 90%;
}
.encadré-3,.encadré-4{ 
 /*  border: 2px solid purple;*/
   width: 50%;
   display: flex;
   margin: 10px;
}
.cont-article-1,.cont-article-2,.cont-article-3,.cont-article-4{ 
 /*  border: 2px solid orange;*/
   width: 50%;
   margin: 10px;
}
.arti-10,.arti-13{ 
 /*  border: 2px solid red;*/
   border-radius: 20px;
   width: 20%;
   margin-left: 20px;
   height: 90%;
   width: 90%;
   box-shadow: 1px 1px 1px 1px #BFC9CA;
}
.arti-11,.arti-15{ 
 /*  border: 2px solid red;*/
   border-radius: 20px;
   width: 20%;
   margin-left: 20px;
   width: 90%;
   height: 55%;
   box-shadow: 1px 1px 1px 1px #BFC9CA;
}
.arti-15{ 
   margin-top: 5%;
}
.arti-12{ 
  /* border: 2px solid red;*/
   border-radius: 20px;
   width: 20%;
   margin-left: 20px;
   width: 90%;
   height: 30%;
   margin-top: 5%;
   box-shadow: 1px 1px 1px 1px #BFC9CA;
}
.arti-14{ 
  /* border: 2px solid red;*/
   border-radius: 20px;
   width: 20%;
   margin-left: 20px;
   width: 90%;
   height: 30%;
   box-shadow: 1px 1px 1px 1px #BFC9CA;
}
.div-image-10,.div-image-11,.div-image-12,.div-image-13,.div-image-14,.div-image-15{ 
 /*  border: 2px solid black;*/
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
   height: 85%;
}
.div-image-12,.div-image-14{ 
   height: 70%;
}
.image-10,.image-11,.image-12,.image-13,.image-14,.image-15{ 
   width: 100%;
   height: 100%;
   border-top-right-radius:20px ;
   border-top-left-radius: 20px;
   object-fit: cover;
}
.p-arti-10,.p-arti-11,.p-arti-12,.p-arti-13,.p-arti-14,.p-arti-15{ 
   margin-left: 20px;
   font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

                                                                              /* La partie footer */



footer{
 /*  border: 2px solid green;*/
 /*  margin-left: 10px;
   margin-right: 15px;*/
   display: flex;
   background-color: #F4F4F4;
}
.d1,.d2,.d3{ 
  /* border: 2px solid red;*/
   width: 33%;
   padding-left: 20px;
}

footer h2{ 
   font-family: 'Raleway', sans-serif;
}
footer ul li{ 
   font-family: 'Raleway', sans-serif;
   list-style: none;
   line-height: 40px;
   font-weight: lighter;
}